.card-price {
  color: var(--primary-color);
}
.card-content {
  font-size: 1.5rem;
}
.foot-text {
  font-size: 1.2rem;
}
.card-foot {
  gap: 5px;
}
.column-3-grid {
  place-items: center;
}
.card-img {
  height: 60%;
}
.basic-card {
  width: 250px;
  justify-self: center;
  box-shadow: none;
  cursor: pointer;
}
